<div class="container">
<div class="select">
<select (change)="onChangeNumberOfRows($event)">
  <option value="0">Select Number of rows...</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
  <option value="5">5</option>
  <option value="6">6</option>
  <option value="7">7</option>
  <option value="8">8</option>
  <option value="9">9</option>
  <option value="10">10</option></select></div>

<div class="data">
<div class="table-row text-center">
  <p>Number</p>
  <p>Cube</p>
</div>
<div
[formGroup]="totalCalculationFormGroup"
*ngIf="totalCalculationFormGroup"
>
<calculation-row></calculation-row>
</div>
<div *ngFor="let number of numberOfRowsArr">
  <div
    [formGroup]="totalCalculationFormGroup"
    *ngIf="totalCalculationFormGroup"
  >
    <calculation-row></calculation-row>
  </div>
</div>
</div></div>