
    .select{
        max-width: 600px;
        margin: 30px auto;
        font-size: 16px;
    font-weight: 600;
    color: #912d2d;
    }
    select{
        border-radius: 8px;
        border: none;
        padding: 10px;
    }
    select:focus-visible{
        outline: none;
    }
    .data{
        max-width: 600px;
        border: 5px solid #991137;
        margin: 0 auto;
        padding: 12px 14px;
        background: #eee;
        border-radius: 12px;
        .table-row{
            display: flex;
        }
        p{
        width: 50%;
        margin-bottom: 0;
        font-weight: 600;
        font-size: 20px;
        color: #931919;

        }
    }


    .text-row{
    
        border: 1px solid;
        input{
            border:none
        }
    
    }

