    .text-row{
        background-color: #fff;
        text-align: center;
        height: 30px;
        border-right: 1px solid #eee;
    }
    input:focus-visible{
        outline: none;
    }
    input{
        border:none;
        text-align: center;
        font-size: 20px;
    }
    td{
        width: 50%;
        text-align: center;
        
    }
    table{
        width: 550px;
    margin: 10px auto;
    }
    tr{
        background-color: #fff;
        // border:1px solid #9624dd;

    }
    .value{
        font-size: 20px;
    }