
<table>
  <tr>
    <td class="text-row" [formGroup]="multiplierFormGroup">
      <input
        type="text"
        formControlName="firstValue" /> 
    </td>
      <td class="value">{{ totalValue }}
      </td>
  </tr>
</table>

  
  
  